@import 'variable';
.language-switcher {
  position: relative;
  .language-list {
    position: absolute;
    padding: 1rem;
    background-color: $blue;
    border-radius: 8px;
    &.top {
      top: -145px;
      right: -55px
    }
    &.left {
      top: -45px;
      right: 45px;
    }
    &.bottom {
      top: 35px;
      right: -55px;
    }
    &.right {
      top: -65px;
      left: 45px;
    }
    .language-item {
      padding: 0.5rem;
      a {
        color: $white;
        &:link, &:visited {
          color: $white;
          text-decoration: none;
        }
      }
      .bold {
        font-weight: 700;
      }
    }
  }
  .language-button {
    cursor: pointer;
  }
}