$blue: #2F4798;
$white: #FFFF;
$secondary-white: #E5E5E5;
$orange: #EF7D5B;
$red: #d42431;
$grey: #EFEFEF;
$shadow-color: #949494;
$border-radius: 8px;
$full-height-default: 1080px;
$full-height-login: 100vh;
$width-margin: calc(100vw - 240px);
$form-width: calc(469px - 30px);
$form-height-input: calc(58px - 30px);
$form-height-btn: 44px;
$border-radius-btn: 19px;
$shadow: 0px 0px 15% var($shadow-color);
$cyan: #00A6FC;
